name: Build Release

on:
  push:
    branches:
      - main
      - devel
      - develop
  pull_request:
    branches:
      - main
      - devel
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      checks: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Restore Keystore from secret
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > release-key.jks
          file release-key.jks
          ls -lh release-key.jks

      - name: Build APK (Release)
        run: ./gradlew assembleRelease -x test
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

      - name: Upload Build Reports
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: build-reports
          path: build/reports/
